<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not found</title>
    <style>
    *{
        padding:0;
        margin:0;
    }
    body {
        background-color: hsl(30, 50%, 80%);
    }
    h1 {
        font-weight: bolder;
        color:white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1 span{
        font-size: 2.5em;
    }
    </style>
</head>
<body>
    <h1><span>404-页面丢失</span></h1>
</body>
</html>
